<!DOCTYPE html>
<html>
<head>
    <title>YT Downloader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='frontend/css/registercss.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
     
    <div id="content">
        
        <div class="center-container">

            <form action="/download" method="post">
                <h2>YouTube Video Downloader</h2>

                                <!-- Add this to your ytdown.html -->
                <label for="video_name_or_url">Youtube Video Name/URL:</label>
                <input type="text" name="video_name_or_url" id="video_name_or_url" required>
                <br>

                <br>
                <label for="format">Select Format:</label>
                <select name="format" id="format">
                    <option value="mp4">MP4</option>
                    
                    <option value="mp3">MP3</option>
                </select>
                <label for="quality">Select Quality:</label>
                <select name="quality" id="quality">
                    <option value="high">High Quality</option>
                    <option value="low">Low Quality</option>
                </select>
        
                <br>
                <button type="submit">Download</button>
                <!-- Add a "Tag Editor" button that redirects to /tageditor -->

            </form>
        
            <a href="/" class="tag-editor-button">
                <button type="button">Go Back</button>
            </a>
            <p></a></p>
            {% if success_message %}
            <div class="box" id="successbox">
                <!--  <p class="error-message">{{ error_message }}</p>--> 
                <box-icon name='check' animation='tada' size="md" color="white"></box-icon>

                  <a href="{{ data.download_url }}" download="{{ data.filename }}" class="download-link">Click here to download</a>
               </div>
               <p></a></p>
               {% endif %}
            {% if error_message %}
            <div class="box" id="errorbox">
                <!--  <p class="error-message">{{ error_message }}</p>--> 
                <box-icon id="erroricon" type='solid' name='error-alt' animation='tada' size="md" color="white"></box-icon>
                  <p class="error-message">{{error_message}}</p>
               </div>
               {% endif %}


               

               
        </div>
   
    </div>

   

    <script src="{{ url_for('static', filename='node_modules/jsmediatags/dist/jsmediatags.min.js') }}"></script>
    <script>

        document.getElementById('delete-button').addEventListener('click', function () {
            // Replace 'audio.mp3' with the actual file path you want to delete
            var fileToDelete = 'audio.mp3';
            fetch('/delete_file', {
                method: 'POST',
                body: new URLSearchParams({ 'file_path': fileToDelete }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
            .then(response => response.text())
            .then(data => {
                alert(data);  // Display a message to the user
            });
        });
    </script>
    
    

    <script>
        
        function downloadVideo() {
            var videoUrl = document.getElementById('video_url').value;
            var format = document.getElementById('format').value;
        
            fetch('/download', {
                method: 'POST',
                body: new URLSearchParams({ 'video_url': videoUrl, 'format': format }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
            .then(response => response.json())
            .then(data => {
                var a = document.createElement('a');
                a.href = data.download_url;
                a.download = data.filename;
                a.click();
            });
        }


        </script>
        
        
        
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</body>
</html>


